<div class="container">
  <div class="card mb-3">
    <div class="card-body">
      <h3 class="display-5">새로운 사진 올리기</h3>
      <form action="/posts/create" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="exampleInputEmail">제목</label>
          <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요."><br>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">내용</label>
          <input type="text" class="form-control" name="content" placeholder="내용을 입력하세요."><br>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">사진업로드</label>
          <input type="file" class="form-control" name="avatar"><br>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
      </form>
    </div>
  </div>
</div>
